<div id="page-mentions">
<h1>Mentions légales</h1> 
<section>
<div class="container">
Ce site web est édité par l'Université Sorbonne Nouvelle - Paris 3<br/>
17 rue de la Sorbonne<br/>
75231 Paris Cedex 05<br/>
Tél : 01.40.46.28.84 / 01.40.46.28.86<br/>
Fax : 01.40.46.29.36</p>

<p>Directeur de la publication : Carle Bonafous-Murat</p>

<p>Hébergement du site : Serveur de l'Université Sorbonne Nouvelle - Paris 3</p>

<p>Pour nous contacter : dsic-enead@sorbonne-nouvelle.fr</p>
</section>
<hr/>
<section>
    <div id="credits">
    	<span><a href="#!">Accueil</a></span>
        <span><a href="#!credits">Credits</a></span>
        <span>Mentions légales</span>
        <span>Version 1.1 pour tablette</span>
    </div>  
</section> 
</div> 
</div>