body, p, #credits {
	font-family: 'Open Sans', sans-serif;
}
h1, h2, h3{
	font-family: 'Cormorant Garamond', serif;	
}
header{
	background-image: url("../img/couverture.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% 100%;
	height: 800px;
	margin-bottom: 10px;
}
#credits{
	margin-top: 2em;
	text-align: center;
}
#credits span{
	margin-left: 1em;
}
/* Mise en forme de la page credits.html */
#page-credits{
	margin-top:2em;
	margin-left: 20em;
}
#page-credits .container{
	margin:0em;
	padding: 0em;
	}
#page-credits section{
	margin:0em;
	padding: 0em;
	}
#page-credits h1{
	font-size: 40px;
	font-weight: bold;
	font-family: 'Cormorant Garamond', serif;

}
#page-credits section h2{
	margin:0em;
	margin-top: 1em;
	margin-bottom: 0.5em;
	padding: 0em;
	font-size:22px;
	font-weight: bold;
	font-family: 'Cormorant Garamond', serif;

	}
#page-credits section div{
	font-size:16px;
}
/* Mise en forme de la page credits.html */
#page-mentions{
	margin-top:2em;
	margin-left: 20em;
}
#page-mentions .container{
	margin:0em;
	padding: 0em;
	}
#page-mentions section{
	margin:0em;
	padding: 0em;
	}
#page-mentionss h1{
	font-size: 40px;
	font-weight: bold;
	font-family: 'Cormorant Garamond', serif;

}

#page-mentions section div{
	font-size:16px;
}