<div class="container" ng-controller="MainController as po">
   
    <div class="row">
      <div  class="col-sm-12">
        <h2>I</h2>
      </div>
    </div>

    <hr/>

    <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:1}| filter:{idStrophe:1}">
      <div  class="col-sm-6">
        <h3 ng-bind="poe.titreGr"
    class="ng-cloak"></h3>
      </div>
      <div  class="col-sm-6">
        <h3 ng-bind="poe.titre"
    class="ng-cloak"></h3>
      </div>
    </div>
  
    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:1}| filterStrophe:[1]" class="ng-cloak">
    <div  class="col-sm-6">
            <p ng-bind-html="poe.stropheGr"></p>
    </div>
     <div  class="col-sm-6">
            <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/> 

      <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:1}| filterStrophe:[2]" class="ng-cloak">
    <div  class="col-sm-6">
            <p ng-bind-html="poe.stropheGr"></p>
    </div>
     <div  class="col-sm-6">
            <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/> 

    <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:2}:true" class="ng-cloak">
      <div  class="col-sm-12">
        <img ng-src="img/{{img.file}}" width="40%" />
      </div>
    </div>

  <hr/> 

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:1}| filterStrophe:[3]" class="ng-cloak">
      <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
      </div>
       <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
      </div>
    </div>

  <hr/> 

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:1}| filterStrophe:[4]" class="ng-cloak">
      <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
      </div>
       <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
      </div>
    </div>

  <hr/>   

  <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:3}:true" class="ng-cloak">
    <div  class="col-sm-12">
      <img ng-src="img/{{img.file}}" width="40%" />
    </div>
  </div>

  <hr/> 

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:1}| filterStrophe:[5]" class="ng-cloak">
    <div  class="col-sm-6">
            <p ng-bind-html="poe.stropheGr"></p>
    </div>
     <div  class="col-sm-6">
            <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/> 

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:1}| filterStrophe:[6,7]" class="ng-cloak">
    <div  class="col-sm-6">
            <p ng-bind-html="poe.stropheGr"></p>
    </div>
     <div  class="col-sm-6">
            <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>   

  <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:2}| filter:{idStrophe:1}:true">
      <div  class="col-sm-6">
        <h3 ng-bind="poe.titreGr"
    class="ng-cloak"></h3>
      </div>
      <div  class="col-sm-6">
        <h3 ng-bind="poe.titre"
    class="ng-cloak"></h3>
      </div>
  </div>

    <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:2}| filter:{idStrophe:1}:true">
      <div  class="col-sm-12">
        <h4 ng-bind="poe.partie"></h4>
      </div>
  </div>
  
      <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[1]" class="ng-cloak">
    <div  class="col-sm-6">
            <p ng-bind-html="poe.stropheGr"></p>
    </div>
     <div  class="col-sm-6">
            <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/> 

  <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[2]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[3]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[4]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

  <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:4}:true" class="ng-cloak">
    <div  class="col-sm-12">
      <img ng-src="img/{{img.file}}" width="40%" />
    </div>
  </div>

  <hr/> 

  <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[5]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

  <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[6]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[7]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[8,9]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

  <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:5}:true" class="ng-cloak">
    <div  class="col-sm-12">
      <img ng-src="img/{{img.file}}" width="40%" />
    </div>
  </div>

  <hr/> 

    <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:2}| filter:{idStrophe:10}:true">
      <div  class="col-sm-12">
        <h4 ng-bind="poe.partie"></h4>
      </div>
    </div>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[10]" class="ng-cloak">
      <div  class="col-sm-6">
        <p ng-bind-html="poe.stropheGr"></p>
      </div>
      <div  class="col-sm-6">
        <p ng-bind-html="poe.strophe"></p>
      </div>
    </div>

    <hr/>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[11]" class="ng-cloak">
      <div  class="col-sm-6">
        <p ng-bind-html="poe.stropheGr"></p>
      </div>
      <div  class="col-sm-6">
        <p ng-bind-html="poe.strophe"></p>
      </div>
    </div>

    <hr/>

      <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[12]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[13]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

  <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:6}:true" class="ng-cloak">
    <div  class="col-sm-12">
      <img ng-src="img/{{img.file}}" width="40%" />
    </div>
  </div>

  <hr/> 

      <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[14]" class="ng-cloak">
      <div  class="col-sm-6">
        <p ng-bind-html="poe.stropheGr"></p>
      </div>
      <div  class="col-sm-6">
        <p ng-bind-html="poe.strophe"></p>
      </div>
    </div>

    <hr/>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[15]" class="ng-cloak">
      <div  class="col-sm-6">
        <p ng-bind-html="poe.stropheGr"></p>
      </div>
      <div  class="col-sm-6">
        <p ng-bind-html="poe.strophe"></p>
      </div>
    </div>

    <hr/> 

      <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[16]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[17]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

    <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:7}:true" class="ng-cloak">
      <div  class="col-sm-12">
        <img ng-src="img/{{img.file}}" width="40%" />
      </div>
    </div>

    
    <hr/> 

      <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[18]" class="ng-cloak">
      <div  class="col-sm-6">
        <p ng-bind-html="poe.stropheGr"></p>
      </div>
      <div  class="col-sm-6">
        <p ng-bind-html="poe.strophe"></p>
      </div>
    </div>

    <hr/>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[19]" class="ng-cloak">
      <div  class="col-sm-6">
        <p ng-bind-html="poe.stropheGr"></p>
      </div>
      <div  class="col-sm-6">
        <p ng-bind-html="poe.strophe"></p>
      </div>
    </div>

    <hr/> 

      <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[20]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[21]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

    <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:8}:true" class="ng-cloak">
      <div  class="col-sm-12">
        <img ng-src="img/{{img.file}}" width="40%" />
      </div>
    </div> 

    <hr/>

      <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:2}| filter:{idStrophe:22}:true">
      <div  class="col-sm-12">
        <h4 ng-bind="poe.partie"></h4>
      </div>
    </div>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[22]" class="ng-cloak">
      <div  class="col-sm-6">
        <p ng-bind-html="poe.stropheGr"></p>
      </div>
      <div  class="col-sm-6">
        <p ng-bind-html="poe.strophe"></p>
      </div>
    </div>

    <hr/>

      <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[23]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[24]" class="ng-cloak">
    <div  class="col-sm-6">
      <p ng-bind-html="poe.stropheGr"></p>
    </div>
    <div  class="col-sm-6">
      <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>

  <hr/>

    <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:9}:true" class="ng-cloak">
      <div  class="col-sm-12">
        <img ng-src="img/{{img.file}}" width="40%" />
      </div>
    </div>  

    <hr/>  