<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Le grand voyage</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
     <link href="css/angular.css" rel="stylesheet">
</head>
<body ng-app="grandVoyageApp">

<div class="container" ng-controller="MainController as po">

    
    <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:1}| filter:{idStrophe:1}">
      <div  class="col-sm-6">
        <h1 ng-bind="poe.titreGr"
    class="ng-cloak"></h1>
      </div>
      <div  class="col-sm-6">
        <h1 ng-bind="poe.titre"
    class="ng-cloak"></h1>
      </div>
    </div>
  
    <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:1}| filterOption:[1,2]" class="ng-cloak">
    <div  class="col-sm-6">
            <p ng-bind-html="poe.stropheGr"></p>
    </div>
     <div  class="col-sm-6">
            <p ng-bind-html="poe.strophe"></p>
    </div>
  </div>
  <hr/> 
</div>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
    <script src="js/controllers/MainController.js"></script>
</body>
</html>


