<p>credits</p>
<div class="container" ng-controller="MainController as po">
        <section>
          <div class="row" ng-repeat="cred in  po.credits|filter:{bloc:porteur}" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="cred.nom"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="cred.profession"></p>
            </div>
          </div>
        </section>
        <section>
          <div id="credits">
            <span><a href="#!">Accueil</a>
            <span>Credits</span>
            <span><a href="#!mentions">Mentions légales</a></span>
            <span>Version 1.1</span>
          </div>  
        </section>  
</div> 