<div class="container" ng-controller="MainController as po">
   <section>
      <div class="row" ng-repeat="vid in  po.video|filter:{idVideo:2}:true" class="ng-cloak">
        <div  class="col-sm-12">
          <video controls class="videocontainer" ng-attr-poster="video/png/{{vid.file}}.jpg" autobuffer="true" controlsList="nodownload" contextmenu="return false" oncontextmenu="return false">
              <source ng-src="video/mp4/{{vid.file}}.mp4" autoplay="false"  controller="true" width="500px" height="281px" type="video/mp4"  preload="auto" allowfullscreen="true" >
              <source ng-src="video/webm/{{vid.file}}.webm" autoplay="false"  controller="true" width="500px" height="281px" type="video/webm"  preload="auto" allowfullscreen="true" >
              <source ng-src="video/ogv/{{vid.file}}.ogv" autoplay="false"  controller="true" width="500px" height="281px" type="video/ogv"  preload="auto" allowfullscreen="true" >
    
          </video>
        </div>
      </div>
    </section>
    <hr/>
    <section>
      <div><p>⎝ Maria Tsoutsoura</p></div>
      <div><h1>Le grand voyage</h1></div>
      <div><h2>Introduction ⎠</h2></div>
    </section>
    <hr/>
    <section>
      <div class="row" ng-repeat="exp in po.explication|filter:{idExplication:1}:true">
        <div  class="col-sm-12">
          <div ng-bind-html="exp.explication"
          class="ng-cloak"></div>
        </div>
      </div>       
    </section>
    <hr/>
      <section> 
        <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:1}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <img ng-src="img/{{img.file}}" width="80%" />
            </div>
          </div>
        </section>
      <hr/> 

    <section>
      <div class="row" ng-repeat="exp in po.explication|filter:{idExplication:2}:true">
        <div  class="col-sm-12">
          <div ng-bind-html="exp.explication"
          class="ng-cloak"></div>
        </div>
      </div>       
    </section>
        <section>
      <div class="row" ng-repeat="exp in po.explication|filter:{idExplication:3}:true">
        <div  class="col-sm-12">
          <div ng-bind-html="exp.explication"
          class="ng-cloak"></div>
        </div>
      </div>       
    </section>
    <hr/>
       <section>
      <div class="row" ng-repeat="vid in  po.video|filter:{idVideo:3}:true" class="ng-cloak">
        <div  class="col-sm-12">
          <video controls class="videocontainer" ng-attr-poster="video/png/{{vid.file}}.jpg" autobuffer="true" controlsList="nodownload" contextmenu="return false" oncontextmenu="return false">
              <source ng-src="video/mp4/{{vid.file}}.mp4" autoplay="false"  controller="true" width="500px" height="281px" type="video/mp4"  preload="auto" allowfullscreen="true" >
              <source ng-src="video/webm/{{vid.file}}.webm" autoplay="false"  controller="true" width="500px" height="281px" type="video/webm"  preload="auto" allowfullscreen="true" >
              <source ng-src="video/ogv/{{vid.file}}.ogv" autoplay="false"  controller="true" width="500px" height="281px" type="video/ogv"  preload="auto" allowfullscreen="true" >
    
          </video>
        </div>
      </div>
    </section>
    <hr/>
   
        <section> 
          <div class="row">
            <div  class="col-sm-12">
              <h2>I</h2>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:1}:true| filter:{idStrophe:1}">
            <div  class="col-sm-6">
              <h3 ng-bind="poe.titreGr"
          class="ng-cloak"></h3>
            </div>
            <div  class="col-sm-6">
              <h3 ng-bind="poe.titre"
          class="ng-cloak"></h3>
            </div>
          </div>
        
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:1}:true| filterStrophe:[1,2]" class="ng-cloak">
          <div  class="col-sm-6">
                  <p ng-bind-html="poe.stropheGr"></p>
          </div>
           <div  class="col-sm-6">
                  <p ng-bind-html="poe.strophe"></p>
          </div>
        </div>
      </section>
      <hr/>
        <section> 
          <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:2}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <img ng-src="img/{{img.file}}" width="40%" />
            </div>
          </div>
        </section>
      <hr/> 
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:1}:true| filterStrophe:[3,4]" class="ng-cloak">
            <div  class="col-sm-6">
                    <p ng-bind-html="poe.stropheGr"></p>
            </div>
             <div  class="col-sm-6">
                    <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
      <hr/> 
      <section>
        <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:3}:true" class="ng-cloak">
          <div  class="col-sm-12">
            <img ng-src="img/{{img.file}}" width="40%" />
          </div>
        </div>
      </section>
      <hr/> 
      <section>
        <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:1}| filterStrophe:[5,6,7]" class="ng-cloak">
          <div  class="col-sm-6">
                  <p ng-bind-html="poe.stropheGr"></p>
          </div>
           <div  class="col-sm-6">
                  <p ng-bind-html="poe.strophe"></p>
          </div>
        </div>
      </section>
      <hr/> 
      <section>
        <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:2}| filter:{idStrophe:1}:true">
            <div  class="col-sm-6">
              <h3 ng-bind="poe.titreGr"
          class="ng-cloak"></h3>
            </div>
            <div  class="col-sm-6">
              <h3 ng-bind="poe.titre"
          class="ng-cloak"></h3>
            </div>
        </div>

          <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:2}| filter:{idStrophe:1}:true">
            <div  class="col-sm-12">
              <h4 ng-bind="poe.partie"></h4>
            </div>
        </div>
        
            <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[1,2]" class="ng-cloak">
          <div  class="col-sm-6">
                  <p ng-bind-html="poe.stropheGr"></p>
          </div>
           <div  class="col-sm-6">
                  <p ng-bind-html="poe.strophe"></p>
          </div>
        </div>
      </section>
      <hr/> 
      <section>
        <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[3,4]" class="ng-cloak">
          <div  class="col-sm-6">
            <p ng-bind-html="poe.stropheGr"></p>
          </div>
          <div  class="col-sm-6">
            <p ng-bind-html="poe.strophe"></p>
          </div>
        </div>
      </section>
      <hr/>
      <section>
        <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:4}:true" class="ng-cloak">
          <div  class="col-sm-12">
            <img ng-src="img/{{img.file}}" width="40%" />
          </div>
        </div>
      </section>
      <hr/> 
      <section>
        <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[5,6]" class="ng-cloak">
          <div  class="col-sm-6">
            <p ng-bind-html="poe.stropheGr"></p>
          </div>
          <div  class="col-sm-6">
            <p ng-bind-html="poe.strophe"></p>
          </div>
        </div>
      </section>
      <hr/>
      <section>
        <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[7,8,9]" class="ng-cloak">
          <div  class="col-sm-6">
            <p ng-bind-html="poe.stropheGr"></p>
          </div>
          <div  class="col-sm-6">
            <p ng-bind-html="poe.strophe"></p>
          </div>
        </div>
      </section>
      <hr/>
      <section>
        <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:5}:true" class="ng-cloak">
          <div  class="col-sm-12">
            <img ng-src="img/{{img.file}}" width="40%" />
          </div>
        </div>
      </section>
      <hr/> 
      <section>
          <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:2}| filter:{idStrophe:10}:true">
            <div  class="col-sm-12">
              <h4 ng-bind="poe.partie"></h4>
            </div>
          </div>

          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[10,11]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[12,13]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:6}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <img ng-src="img/{{img.file}}" width="40%" />
            </div>
          </div>
        </section>
        <hr/> 
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[14,15]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[16,17]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/> 
        <section>
          <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:7}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <img ng-src="img/{{img.file}}" width="40%" />
            </div>
          </div>
        </section>  
        <hr/> 
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[18,19]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[20,21]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/> 
        <section>
          <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:8}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <img ng-src="img/{{img.file}}" width="40%" />
            </div>
          </div> 
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:2}| filter:{idStrophe:22}:true">
            <div  class="col-sm-12">
              <h4 ng-bind="poe.partie"></h4>
            </div>
          </div>
        </section>
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:2}| filterStrophe:[22,23,24]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:9}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <img ng-src="img/{{img.file}}" width="40%" />
            </div>
          </div>  
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="exp in po.explication|filter:{idExplication:4}" class="ng-cloak">
            <div  class="col-sm-12">
              <p ng-bind-html="exp.explication"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:10}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <img ng-src="img/{{img.file}}" width="40%" />
            </div>
          </div>  
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="exp in po.explication|filter:{idExplication:5}" class="ng-cloak">
            <div  class="col-sm-12">
              <p ng-bind-html="exp.explication"></p>
            </div>
          </div>
        </section>
        <hr/>        
        <section>
          <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:3}| filter:{idStrophe:1}:true">
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titreGr"></h4>
            </div>
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titre"></h4>
            </div>
          </div>
        </section>
        <section>
          <div class="row" ng-repeat="aud in po.audio|filter:{idAudio:1}">
            <div  class="col-sm-12">
              <audio autobuffer="true"  controls controlsList="nodownload" contextmenu="return false" oncontextmenu="return false">
                <source ng-src="audio/{{aud.file}}.mp3" type="audio/mpeg" >
                Votre navigateur ne supporte pas l'élément audio.
                </audio>
            </div>
          </div>
        </section>
        <hr/>
        <section> 
          <div class="row">
            <div  class="col-sm-12">
              <h2>II</h2>
            </div>
          </div>
        </section>
        <hr/>
          <section>
          <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:4}| filter:{idStrophe:1}:true">
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titreGr"></h4>
            </div>
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titre"></h4>
            </div>
          </div>
        </section>
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:4}:true| filterStrophe:[1,2]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:11}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <img ng-src="img/{{img.file}}" width="40%" />
            </div>
          </div>  
        </section>
        <hr/>
                <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:4}:true| filterStrophe:[3,4]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
         <section>
          <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:5}| filter:{idStrophe:1}:true">
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titreGr"></h4>
            </div>
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titre"></h4>
            </div>
          </div>
        </section>
        <section>
          <div class="row" ng-repeat="aud in po.audio|filter:{idAudio:2}">
            <div  class="col-sm-12">
              <audio autobuffer="true"  controls controlsList="nodownload" contextmenu="return false" oncontextmenu="return false">
                <source ng-src="audio/{{aud.file}}.mp3" type="audio/mpeg" >
                Votre navigateur ne supporte pas l'élément audio.
                </audio>
            </div>
          </div>
        </section>
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:5}:true| filterStrophe:[1,2]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
         <section>
          <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:6}| filter:{idStrophe:1}:true">
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titreGr"></h4>
            </div>
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titre"></h4>
            </div>
          </div>
        </section>
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:6}:true| filterStrophe:[1,2]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:12}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <img ng-src="img/{{img.file}}" width="40%" />
            </div>
          </div>  
        </section>
        <hr/>
                <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:6}:true| filterStrophe:[3,4]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
      <div class="row" ng-repeat="vid in  po.video|filter:{idVideo:1}:true" class="ng-cloak">
        <div  class="col-sm-12">
          <video controls class="videocontainer" ng-attr-poster="video/png/{{vid.file}}.jpg" autobuffer="true" controlsList="nodownload" contextmenu="return false" oncontextmenu="return false">
              <source ng-src="video/mp4/{{vid.file}}.mp4" autoplay="false"  controller="true" width="500px" height="281px" type="video/mp4"  preload="auto" allowfullscreen="true" >
              <source ng-src="video/webm/{{vid.file}}.webm" autoplay="false"  controller="true" width="500px" height="281px" type="video/webm"  preload="auto" allowfullscreen="true" >
              <source ng-src="video/ogv/{{vid.file}}.ogv" autoplay="false"  controller="true" width="500px" height="281px" type="video/ogv"  preload="auto" allowfullscreen="true" >
    
          </video>
        </div>
      </div>
    </section> 
    <hr/>
             <section>
          <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:8}| filter:{idStrophe:1}:true">
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titreGr"></h4>
            </div>
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titre"></h4>
            </div>
          </div>
        </section>
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:8}:true| filterStrophe:[1,2,3,4]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:13}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <img ng-src="img/{{img.file}}" width="40%" />
            </div>
          </div>  
        </section>
        <hr/>
             <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:8}:true| filterStrophe:[5,6,7,8]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section> 
          <div class="row">
            <div  class="col-sm-12">
              <h2>III</h2>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:9}| filter:{idStrophe:1}:true">
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titreGr"></h4>
            </div>
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titre"></h4>
            </div>
          </div>
        </section>
        <section>
          <div class="row" ng-repeat="aud in po.audio|filter:{idAudio:3}">
            <div  class="col-sm-12">
              <audio autobuffer="true"  controls controlsList="nodownload" contextmenu="return false" oncontextmenu="return false">
                <source ng-src="audio/{{aud.file}}.mp3" type="audio/mpeg" >
                Votre navigateur ne supporte pas l'élément audio.
                </audio>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:10}| filter:{idStrophe:1}:true">
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titreGr"></h4>
            </div>
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titre"></h4>
            </div>
          </div>
        </section>
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:10}:true| filterStrophe:[1,2]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="img in  po.photo|filter:{idPhoto:14}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <img ng-src="img/{{img.file}}" width="40%" />
            </div>
          </div>  
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:10}:true| filterStrophe:[3,4]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="poe in po.poesie|filter:{idPoeme:11}| filter:{idStrophe:1}:true">
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titreGr"></h4>
            </div>
            <div  class="col-sm-6">
              <h4 ng-bind="poe.titre"></h4>
            </div>
          </div>
        </section>
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:11}:true| filterStrophe:[1]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/>
        <section>
          <div class="row" ng-repeat="vid in  po.video|filter:{idVideo:5}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <video controls class="videocontainer" ng-attr-poster="video/png/{{vid.file}}.jpg" autobuffer="true" controlsList="nodownload" contextmenu="return false" oncontextmenu="return false">
                <source ng-src="video/mp4/{{vid.file}}.mp4" autoplay="false"  controller="true" width="500px" height="281px" type="video/mp4"  preload="auto" allowfullscreen="true" >
                <source ng-src="video/webm/{{vid.file}}.webm" autoplay="false"  controller="true" width="500px" height="281px" type="video/webm"  preload="auto" allowfullscreen="true" >
                <source ng-src="video/ogv/{{vid.file}}.ogv" autoplay="false"  controller="true" width="500px" height="281px" type="video/ogv"  preload="auto" allowfullscreen="true" >
              </video>
            </div>
          </div>
        </section> 
        <hr/>
        <section>
          <div class="row" ng-repeat="poe in  po.poesie|filter:{idPoeme:11}:true| filterStrophe:[2,3]" class="ng-cloak">
            <div  class="col-sm-6">
              <p ng-bind-html="poe.stropheGr"></p>
            </div>
            <div  class="col-sm-6">
              <p ng-bind-html="poe.strophe"></p>
            </div>
          </div>
        </section>
        <hr/> 
        <section>
          <div class="row" ng-repeat="vid in  po.video|filter:{idVideo:4}:true" class="ng-cloak">
            <div  class="col-sm-12">
              <video controls class="videocontainer" ng-attr-poster="video/png/{{vid.file}}.jpg" autobuffer="true" controlsList="nodownload" contextmenu="return false" oncontextmenu="return false">
                <source ng-src="video/mp4/{{vid.file}}.mp4" autoplay="false"  controller="true" width="500px" height="281px" type="video/mp4"  preload="auto" allowfullscreen="true" >
                <source ng-src="video/webm/{{vid.file}}.webm" autoplay="false"  controller="true" width="500px" height="281px" type="video/webm"  preload="auto" allowfullscreen="true" >
                <source ng-src="video/ogv/{{vid.file}}.ogv" autoplay="false"  controller="true" width="500px" height="281px" type="video/ogv"  preload="auto" allowfullscreen="true" >
              </video>
            </div>
          </div>
        </section>        
        <hr/>        
</div> 